# Configurare baza de date
DB_USER=fleetuser
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=fleet_db

# Securitate
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Configurare superadmin
FIRST_ADMIN_USERNAME=admin
FIRST_ADMIN_PASSWORD=
FIRST_ADMIN_EMAIL=
